@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sidebar-w:100px;
    --sidebar-title-h:2rem;
    --navbar-h:34px;
    --terminal-h:140px;
}
body{
    background-color: #282c34;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
    position: absolute;
    z-index: 100;
 /*    position: fixed; */
 top: 40%;
  right: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255,255,255,0.2); */
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.term-height{
    height: 140px;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar-height{
    height: calc(100vh - 42px);
}
